#design-by-jt {
    text-decoration: none;
    color: darkslategray;
}

#design-by-jt:hover {
    color: dimgrey;
}

#home-links {
    text-decoration: none;
    font-weight: bolder;
    color: lightgrey;
}

#home-links:hover {
    color: dimgrey;
}

#welcome-box {
    background-image: url("images/welcome_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 2%;
}

#memberships-main {
    padding-bottom: 5%;
}

.row {
    padding: 1%;
}

#home-grid div,
#home-grid div div {
    border-radius: 10px;
}

#home-grid {
    padding-left: 1%;
}

.middle-row {
    padding-left: 1%;
    width: 99%;
}

#address a {
    text-decoration: none;
    color: white;
}

#address a:hover {
    color: dimgrey;
}

#about-map {
    object-fit: cover;
}

#contact-fb svg,
#contact-insta svg,
#contact-tt svg {
    height: 1.8em;
    width: 1.8em;
}

#contact-fb,
#contact-insta,
#contact-tt {
    display: inline;
    padding-top: 2%;
    text-decoration: none;
}

#social-links {
    display: inline;
    padding-bottom: 5%;
}

#social-links a {
    color: white;
}

#social-links a:hover {
    color: darkgrey;
}

#phone-contact,
#email-contact {
    color: white;
}

#phone-contact:hover,
#email-contact:hover {
    color: darkgrey;
}

#carousel div {
    border-radius: 10px;
}

.headshot:hover {
    filter: brightness(50%);
}

#headshot1 {
    height: 120%;
    background-image: url("headshot.jpeg");
}

#find-us,
#equipment {
    background-color: slateblue;
}

#buy-memberships-button {
    font-size: 30px;
}

.pricing-title {
    text-decoration: underline;
}

.opening-times {
    font-weight: bolder;
}

#memberships-main {
    background-color: rgb(25, 28, 31);
    color: white;
    margin: 5%;
    border-radius: 10px;
}

#memberships-main table td {
    color: white;
}

#buy-memberships-home-box {
    background-color: slateblue;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#sign-up-text {
    color: white;
    text-decoration: none;
    font-size: 60px;
    font-style: italic;
}

#join-button {
    background-color: white;
    color: slateblue;
    font-weight: bold;
    font-size: 30px;
    margin-top: 1.5%;
}

#contact-button,
#buy-button {
    background-color: slateblue;
    color: white;
    font-weight: bold;
    border-color: darkgrey;
}

#contact-button:hover,
#buy-button:hover {
    background-color: lightgrey;

}

.home-column {
    max-width: 30%;
}