#design-by-jt {
    text-decoration: none;
    color: darkslategray;
}

#design-by-jt:hover {
    color: dimgrey;
}

#home-links {
    text-decoration: none;
}

#welcome-box {
    background-image: url("welcome_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#memberships-main {
    padding-bottom: 5%;
}

.row {
    padding: 1%;
}

#home-grid div,
#home-grid div div {
    border-radius: 10px;
}

#home-grid {
    padding-left: 1%;
}

.middle-row {
    padding-left: 1%;
    width: 99%;
}

#address a {
    text-decoration: none;
    color: white;
}

#address a:hover {
    color: dimgrey;
}

#about-map {
    object-fit: cover;
}

#contact-fb svg,
#contact-insta svg {
    height: 1.5em;
    width: 1.5em;
}

#contact-fb,
#contact-insta {
    display: inline;
    padding-top: 2%;
    text-decoration: none;
}

#social-links {
    display: inline;
    padding-bottom: 5%;
}


